<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-innerwave-beacon-pnt" version="1.0.0"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>BeaconPlugin</name>
	<js-module name="BeaconPlugin" src="www/BeaconPlugin.js">
		<clobbers target="BeaconPlugin" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="BeaconPlugin">
				<param name="android-package" value="com.innerwave.beacon.pnt.BeaconPlugin" />
			</feature>
		</config-file>

		<config-file parent="application" target="AndroidManifest.xml">
			<service android:name="com.pnt.sdk.vestigo.service.PnTVestigoLifeService"
				android:enabled="true">
			</service>
			<service
				android:name="com.pnt.sdk.vestigo.service.PnTVestigoService"
				android:enabled="true"
				android:foregroundServiceType="connectedDevice|dataSync">
			</service>
			<receiver android:name="com.pnt.sdk.vestigo.classes.geofence.GeoFenceBroadcastReceiver" />
        </config-file>

		 <!-- Android Manifest Config -->
        <config-file parent="/*" target="AndroidManifest.xml">           
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.BLUETOOTH"/>
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
            <!-- targetSDKVersion: 28 이상일 때 추가 필수 -->
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <!-- targetSDKVersion: 29 이상일 때 추가 필수 -->
            <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />

			<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
			 <!-- <application>
				<receiver android:name="com.pnt.sdk.vestigo.classes.geofence.GeoFenceBroadcastReceiver" />
			</application> -->
        </config-file>

        <framework src="src/android/beacon.gradle" custom="true" type="gradleReference" />

		<resource-file src="libs/VestigoAd_Android_core-release.aar" target="libs/VestigoAd_Android_core-release.aar" />

		<source-file src="src/android/BeaconPlugin.java" target-dir="src/com/innerwave/beacon/pnt/BeaconPlugin" />
	</platform>

	<platform name="ios">
		<dependency id="cordova-plugin-add-swift-support" version="^2.0.2"/>
		<config-file parent="/*" target="config.xml">
			<feature name="BeaconPlugin">
				<param name="ios-package" value="BeaconPlugin" />
			</feature>
		</config-file>
		<config-file target="*-Info.plist" parent="NSBluetoothAlwaysUsageDescription">
            <string>스마트병원 출입통제 및 관리를 위해 bluetooth 기능이 필요합니다.</string>
        </config-file>
		<config-file target="*-Info.plist" parent="NSBluetoothPeripheralUsageDescription">
            <string>스마트병원 출입통제 및 관리를 위해 bluetooth 주변 기기 감지 권한이 필요합니다.</string>
        </config-file>
		<config-file target="*-Info.plist" parent="NSLocationAlwaysAndWhenInUseUsageDescription">
            <string>스마트병원 출입통제 및 관리를 위해 위치권한 '항상허용'으로 상태 변경이 필요합니다.(위치서비스 기능 권한관련 시스템 팝업이 나타나면 '항상 허용으로 변경' 을 선택하세요.)</string>
        </config-file>
		<config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>스마트병원 출입통제 및 관리를 위해 위치권한 '항상허용'으로 상태 변경이 필요합니다.</string>
        </config-file>
		<config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>스마트병원 출입통제 및 관리를 위해 위치권한 '항상허용'으로 상태 변경이 필요합니다.(위치서비스 기능 권한관련 시스템 팝업이 나타나면 '앱을 사용하는 동안 허용' 을 먼저 선택하세요.)</string>
        </config-file>
		
		<header-file src="src/ios/BeaconPlugin-Bridging-Header.h"/>     
		<source-file src="src/ios/BeaconPlugin.swift"/>

		<framework src="src/ios/VestigoAD_IOS_core.framework" custom="true" />
	</platform>
</plugin>